@* <div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">YourMvcApp</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Vacations" asp-action="Create">Create Vacation</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - YourMvcApp - <a href="#">Privacy</a>
        </div>
    </footer>
</div> *@








<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Metronic | Page Layouts - Language Switch Bar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-sidebar-closed-hide-logo page-boxed page-header-fixed">
    <div class="clearfix">
        <div class="container">
            <!-- BEGIN HEADER -->
            <div b-gzcszs8yrl="" class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div b-gzcszs8yrl="" class="page-header-inner container">
                    <!-- BEGIN LOGO -->
                    <div b-gzcszs8yrl="" class="page-logo">
                        <a b-gzcszs8yrl="" href="index.html">
                            <img src="~/assets/admin/layout4/img/logo-light.png" alt="logo" class="logo-default">
                        </a>
                        <div b-gzcszs8yrl="" class="menu-toggler sidebar-toggler">
                            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a b-gzcszs8yrl="" href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN PAGE TOP -->
                    <div b-gzcszs8yrl="" class="page-top">

                        <!-- BEGIN TOP NAVIGATION MENU -->
                        <div b-gzcszs8yrl="" class="top-menu">
                            <ul b-gzcszs8yrl="" class="nav navbar-nav pull-right">
                                <li b-gzcszs8yrl="" class="separator hide">
                                </li>

                                <!-- BEGIN USER LOGIN DROPDOWN -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li class="dropdown dropdown-user dropdown-dark">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span class="username username-hide-on-mobile">
                                            Nick
                                        </span>
                                        <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                        <img alt="" class="img-circle" src="~/assets/admin/layout4/img/avatar9.jpg" />
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="extra_profile.html">
                                                <i class="icon-user"></i> My Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page_calendar.html">
                                                <i class="icon-calendar"></i> My Calendar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="inbox.html">
                                                <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                                    3
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page_todo.html">
                                                <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                                    7
                                                </span>
                                            </a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="extra_lock.html">
                                                <i class="icon-lock"></i> Lock Screen
                                            </a>
                                        </li>
                                        <li>
                                            <a href="login.html">
                                                <i class="icon-key"></i> Log Out
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END USER LOGIN DROPDOWN -->
                            </ul>
                        </div>
                        <!-- END TOP NAVIGATION MENU -->
                    </div>
                    <!-- END PAGE TOP -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <div class="clearfix">
            </div>

            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="start ">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="icon-home"></i>
                                    <span class="title">Главная</span>
                                </a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Index">
                                    <i class="icon-user"></i>
                                    <span class="title">
                                        Личный кабинет
                                    </span>
                                </a>
                            </li>
                            <!-- BEGIN ANGULARJS LINK -->
                            <li>
                                <a asp-area="" asp-controller="Vacations" asp-action="Create">
                                    <i class="icon-paper-plane"></i>
                                    <span class="title">
                                        Cоздать заявку
                                    </span>
                                </a>
                            </li>

                            <!-- END ANGULARJS LINK -->
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-docs"></i>
                                    <span class="title">Заявления</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a asp-area="" asp-controller="VacationRequest" asp-action="Index">
                                           На рассмотрении<br>
                                         
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form_controls.html">
                                            Согласованные<br>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </li>
                           @*  <li>
                                <a href="javascript:;">
                                    <i class="icon-briefcase"></i>
                                    <span class="title">Data Tables</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="table_basic.html">
                                            Basic Datatables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table_tree.html">
                                            Tree Datatables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table_responsive.html">
                                            Responsive Datatables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table_managed.html">
                                            Managed Datatables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table_editable.html">
                                            Editable Datatables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table_advanced.html">
                                            Advanced Datatables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table_ajax.html">
                                            Ajax Datatables
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-wallet"></i>
                                    <span class="title">Portlets</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="portlet_general.html">
                                            General Portlets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="portlet_general2.html">
                                            <span class="badge badge-danger">new</span>New Portlets #1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="portlet_general3.html">
                                            <span class="badge badge-danger">new</span>New Portlets #2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="portlet_ajax.html">
                                            Ajax Portlets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="portlet_draggable.html">
                                            Draggable Portlets
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-bar-chart"></i>
                                    <span class="title">Charts</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="charts_amcharts.html">
                                            Amchart
                                        </a>
                                    </li>
                                    <li>
                                        <a href="charts_flotcharts.html">
                                            Flotchart
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-docs"></i>
                                    <span class="title">Pages</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="page_timeline.html">
                                            <i class="icon-paper-plane"></i>
                                            <span class="badge badge-warning">2</span>New Timeline
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_profile.html">
                                            <i class="icon-user-following"></i>
                                            <span class="badge badge-success badge-roundless">new</span>New User Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_todo.html">
                                            <i class="icon-hourglass"></i>
                                            <span class="badge badge-danger">4</span>Todo
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html">
                                            <i class="icon-envelope"></i>
                                            <span class="badge badge-danger">4</span>Inbox
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_faq.html">
                                            <i class="icon-info"></i>
                                            FAQ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_portfolio.html">
                                            <i class="icon-feed"></i>
                                            Portfolio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_timeline.html">
                                            <i class="icon-clock"></i>
                                            <span class="badge badge-info">4</span>Timeline
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_coming_soon.html">
                                            <i class="icon-flag"></i>
                                            Coming Soon
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_calendar.html">
                                            <i class="icon-calendar"></i>
                                            <span class="badge badge-danger">14</span>Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_invoice.html">
                                            <i class="icon-flag"></i>
                                            Invoice
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_blog.html">
                                            <i class="icon-speech"></i>
                                            Blog
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_blog_item.html">
                                            <i class="icon-link"></i>
                                            Blog Post
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_news.html">
                                            <i class="icon-eye"></i>
                                            <span class="badge badge-success">9</span>News
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_news_item.html">
                                            <i class="icon-bell"></i>
                                            News View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_timeline_old.html">
                                            <i class="icon-paper-plane"></i>
                                            <span class="badge badge-warning">2</span>Old Timeline
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_profile_old.html">
                                            <i class="icon-user"></i>
                                            Old User Profile
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-present"></i>
                                    <span class="title">Extra</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="page_about.html">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_contact.html">
                                            Contact Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_search.html">
                                            Search Results
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_pricing_table.html">
                                            Pricing Tables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_404_option1.html">
                                            404 Page Option 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_404_option2.html">
                                            404 Page Option 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_404_option3.html">
                                            404 Page Option 3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_500_option1.html">
                                            500 Page Option 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_500_option2.html">
                                            500 Page Option 2
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-folder"></i>
                                    <span class="title">Multi Level Menu</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-settings"></i> Item 1 <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-user"></i>
                                                    Sample Link 1 <span class="arrow"></span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#"><i class="icon-power"></i> Sample Link 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon-paper-plane"></i> Sample Link 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon-star"></i> Sample Link 1</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-camera"></i> Sample Link 1</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-link"></i> Sample Link 2</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-pointer"></i> Sample Link 3</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-globe"></i> Item 2 <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#"><i class="icon-tag"></i> Sample Link 1</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-pencil"></i> Sample Link 1</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-graph"></i> Sample Link 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-bar-chart"></i>
                                            Item 3
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-user"></i>
                                    <span class="title">Login Options</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="login.html">
                                            Login Form 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login_2.html">
                                            Login Form 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login_3.html">
                                            Login Form 3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login_soft.html">
                                            Login Form 4
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_lock.html">
                                            Lock Screen 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra_lock2.html">
                                            Lock Screen 2
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-envelope-open"></i>
                                    <span class="title">Email Templates</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="email_template1.html">
                                            New Email Template 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="email_template2.html">
                                            New Email Template 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="email_template3.html">
                                            New Email Template 3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="email_template4.html">
                                            New Email Template 4
                                        </a>
                                    </li>
                                    <li>
                                        <a href="email_newsletter.html">
                                            Old Email Template 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="email_system.html">
                                            Old Email Template 2
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="last ">
                                <a href="javascript:;">
                                    <i class="icon-pointer"></i>
                                    <span class="title">Maps</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="maps_google.html">
                                            Google Maps
                                        </a>
                                    </li>
                                    <li>
                                        <a href="maps_vector.html">
                                            Vector Maps
                                        </a>
                                    </li>
                                </ul>
                            </li> *@
                        </ul>
                        <!-- END SIDEBAR MENU -->
                    </div>
                </div>

                @RenderBody()

                <!-- BEGIN FOOTER -->
                <div class="page-footer">
                    <div class="page-footer-inner">
                        2014 &copy; Metronic by keenthemes.
                    </div>
                    <div class="scroll-to-top">
                        <i class="icon-arrow-up"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END FOOTER -->
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/clockface/js/clockface.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
    <script src="~/assets/admin/pages/scripts/table-advanced.js"></script>
    <script src="~/assets/admin/pages/scripts/components-pickers.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
            TableAdvanced.init();
            ComponentsPickers.init();
        });
    </script>

</body>
<!-- END BODY -->
</html>